 body{
    background-color: hsl(0, 0%, 10%);
 }

 .todolist{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
 }
 h1{
    font-size: 4rem;
    color: white ;
 }

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.addbutton{
    background-color: hsl(125, 42%, 54%);
}
.addbutton:hover{
    background-color: hsl(125, 42%, 44%);   
}
.deletebutton{
    background-color: hsl(10, 90%, 54%);
}
.deletebutton:hover{
    background-color: hsl(20, 90%, 44%);   
}
.movebutton{
    background-color: hsl(207, 90%, 64%);
}
.downbutton:hover{
    background-color: hsl(207, 90%, 54%);     
}
Input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    color: rgba(0, 0%, 0%, 0.5);
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px ;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.deletebutton, .movebutton{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}